extends layout

block content
  h1= title
  p Welcome to #{title}
  img.className#IdName(src="/images/logo.png" alt="Logo")

block content
  h1= title
  h2= "mongo query"
  select
    each mongo_result, i in results
      div Result #{i} #{mongo_result}
